source https://api.nuget.org/v3/index.json

storage: none
nuget ARSoft.Tools.Net
nuget FSharp.Control.AsyncSeq
nuget FSharp.Core
nuget Serilog
nuget Serilog.Sinks.Console
nuget Vecc.YamlDotNet.Analyzers.StaticGenerator
nuget YamlDotNet